<div class="container-fluid h-100 bg-light py-4">

	<!-- Loading Indicator -->
	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Authenticating... </p></ngx-spinner>

	<div class="container h-100 bg-white rounded">
		<div class="row h-100">
			<div class="col-md-5 bg-left d-none d-md-flex" style="display: flex; flex-direction: column;">
				<div style="position: relative;">
					<img src="/assets/ellipse2.png" style="width: 90%;">
					<img src="/assets/login.jpg" style="width: 50%; height: 55%; position: absolute; left: 19%; border-radius: 50%; top: 22%;">
				</div>

				<h2 class="text-center text-color">Lorem Ipsum</h2>
				<p class="text-center">
					Lorem ipsum dolor sit amet, consectet.
				</p>
			</div>

			<div class="col-md-7 d-md-flex justify-content-center flex-column align-items-center">
				<div class="col-md-8">
					<h1 class="mb-5 login-heading">
						<div>
							<p>Sign in your EHR</p>
							<span>
								<img src="/assets/vector1.png">
								<img src="/assets/vector2.png">
							</span>
						</div>

						<span>Account</span>
					</h1>


					<form [formGroup]='loginForm' (ngSubmit)="login(loginForm.value)" autocomplete="off">
						<div class="form-group mb-4">
							<mat-form-field class="form-group d-block" appearance="outline">
								<mat-label>Email</mat-label>
								<input type="email" matInput formControlName="email" placeholder="Email" class="form-control form-control-lg" required>
								<mat-error>
									<span *ngIf="loginForm.controls.email.errors?.required">Email is Required</span>
								</mat-error>
							</mat-form-field>
						</div>


						<div class="form-group" style="position: relative;">
							<mat-form-field class="form-field d-block position-relative" appearance="outline">
								<mat-label>Password</mat-label>
								<input type="password" matInput formControlName="password" placeholder="Password" class="form-control form-control-lg" required>
								
		    					<span (click)="hide = !hide" style="position: absolute; right: 0; top: 25px; cursor: pointer;">
		      						<i [ngClass]="hide ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
		    					</span>

								<mat-error>
									<span *ngIf="loginForm.controls.password.errors?.required">Password is Required</span>
								</mat-error>
							</mat-form-field>
						</div>
						<p class="mb-5">
							<a href="#" class="text-danger">Forgot Password?</a>
						</p>

						<button class="btn btn-block btn-primary btn-lg py-3 w-100">Login</button>
						<p class="text-center py-3">
							<span class="text-muted m-3">Don't have an account</span>
							<a href="#" class="text-color">
								Meet up with the IT Guy
							</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>